<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou100.video.mapper.SpeakerMapper">
    <resultMap id="speakerMap" type="speaker">
        <id property="id" column="id"/>
        <result property="speakerName" column="speaker_name"/>
        <result property="speakerJob" column="speaker_job"/>
        <result property="speakerHeadUrl" column="speaker_head_url"/>
        <result property="speakerDesc" column="speaker_desc"/>
        <result property="insertTime" column="insert_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="addSpeaker">
        insert into speaker(speaker_name,speaker_job,speaker_head_url,speaker_desc,insert_time) values (#{speakerName},#{speakerJob},#{speakerHeadUrl},#{speakerDesc},#{insertTime})
    </insert>
    <update id="updateSpeaker">
        update speaker set speaker_name = #{speakerName},speaker_job=#{speakerJob},speaker_head_url=#{speakerHeadUrl},speaker_desc=#{speakerDesc} ,update_time=#{updateTime} where id = #{id}
    </update>
    <delete id="deleteSpeakerById">
        delete from speaker where id = #{id}
    </delete>
  <!--  <select id="queryAllSpeakers" resultMap="speakerMap">
        select * from speaker
    </select>-->
    <select id="querySpeakerById" resultMap="speakerMap">
        select * from speaker where id = #{id}
    </select>
    <select id="querySpeakers" resultMap="speakerMap">
        select * from speaker where 1 = 1
        <if test="speakerName != '' and speakerName != null">
          and  speaker_name = '%' #{speakerName} '%'
        </if>
         <if test="speakerJob != '' and speakerJob != null">
            and speakerJob =  #{speakerJob}
          </if>
    </select>
    <!--查询总条数-->
    <select id="querySpeakerTotal" resultType="java.lang.Integer">
        select count(*) from speaker
        <where>
            <if test="queryName != '' and queryName != null">
              speaker_name like concat("%",#{queryName},"%")
                /*
                    Mysql函数 concat函数 字符串拼接
                    concat(str1,str2...)
                    concat_ws(分隔符,str1,str2,str3,...)
                */
            </if>
        </where>
        <where>
            <if test="queryJob != '' and queryJob != null">
               speaker_job like concat("%",#{queryJob},"%")
            </if>
        </where>
    </select>
    <!--查询总计录值-->
    <select id="queryAllSpeaker" parameterType="java.util.HashMap"  resultMap="speakerMap">
        select * from speaker
        <where>
            <if test="queryName != '' and queryName != null">
                speaker_name like concat("%",#{queryName},"%")
            </if>
        </where>
        <where>
            <if test="queryJob != '' and queryJob != null">
                speaker_job like concat("%",#{queryJob},"%")
            </if>
        </where>
        /*分页操作需要跳出where标签*/
        <if test="startIndex !=null">
            limit #{startIndex},#{pageSize}
        </if>
    </select>
</mapper>